[submodule "extern/uwp-dep"]
	path = extern/uwp-dep
	url = https://github.com/worleydl/uwp-dep
	branch = basic_essential
[submodule "extern/dosbox-pure"]
	path = extern/dosbox-pure
	url = https://github.com/schellingb/dosbox-pure
[submodule "extern/uwp-xray-depot"]
	path = extern/uwp-xray-depot
	url = https://github.com/marcelofrau/uwp-xray-depot
